<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/clear.css">
    <link rel="stylesheet" href="css/index.css">
    <!--[if IE 9]>
    <script src="polyfill.js"></script>
    <![endif]-->
</head>
<body>
<div id="homework-container" class="main">
    {{> "./towns-content.hbs"}}
</div>
</body>
</html>
