<div class="name-fild">Город</div>
<div id="filter-block">
    <input type="text" placeholder="Начните вводить код или название" id="filter-input" class='autocomplite-fild'>

    <div class="filter-list">
        <div id="filter-result" class="result"></div>
        <div class="info-block"></div>
    </div>
</div>
